@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #efefef;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

header>div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0px 20px 0px 20px;
}

i {
  cursor: pointer;
  font-size: 30px;
}

header>img {
  padding: 15px;
  transition: all ease 0.5s;
}

header>img:hover {
  transform: scale(1.10);
}

main {
  display: flex;
  justify-content: center;
  margin: 40px 0px 100px 100px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 700px;
  padding: 50px;
  border-radius: 5px 0px 0px 70px;

  font-size: 60px;
  font-weight: 600;
  font-family: "roboto slab", serif;
  text-align: left;
  color: #e0e0e0;
  background-color: #252525;
}

.img-container {
  height: 300px;
  transition: all ease-in 0.1s;
}

.img-container:hover {
  transform: scale(1.05);
}

.container {
  padding: 50px;
  height: 450px;
  width: fit-content;
  border-radius: 0px 20px 20px 0px;
  background-color: #f3f3f3;
  color: rgb(31, 31, 31);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#titulo-form {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

#mensagens-erro, span {
  color: #8f0000;
  font-size: 13px;
  padding: 20px;
}

#buscar-pacientes {
  cursor: pointer;
  width: 100%;
  padding: 0.2em 1.45em;
  margin: 15px;
  border: 0.15em solid #CCCCCC;
  font-size: 16px;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  font-weight: 600;
  color: #000000;
  background-color: #CCCCCC;
  text-align: center;
  transition: all 0.3s ease 0s;
}

#adicionar-paciente {
  cursor: pointer;
  width: 100%;
  padding: 0.2em 1.45em;
  margin: 0.1em;
  border: 0.15em solid #CCCCCC;
  font-size: 20px;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  font-weight: 700;
  color: #000000;
  background-color: #CCCCCC;
  text-align: center;
  transition: all 0.3s ease 0s;
}

#adicionar-paciente,
#buscar-pacientes:hover {
  border-color: #7a7a7a;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#adicionar-paciente,
#buscar-pacientes:active {
  background-color: #999999;
}

.campo {
  margin: 0px;
  padding-bottom: 1em;
  width: 100%;
  border: 1px solid #ccc;
  padding: .5em;
  border-radius: 0px 5px 5px 0px;
}

.campo-medio {
  display: inline-block;
  padding-right: .10em;
}

.grupo {
  display: flex;
  margin: 10px;
}

label {
  background-color: #252525;
  font-weight: 600;
  color: rgb(255, 253, 253);
  font-size: 14px;
  display: block;
  margin-bottom: .2em;
  border: 1px solid #ccc;
  padding: .7em;
  border-radius: 5px 0px 0px 5px;
  width: 100px;
}

.middle-container {
  color: #efefef;
  box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.438);
  background-color: #252525;
  padding: 50px;
  width: 100%;
}

.middle-container-content {
  border-radius: 50px;
  background-color: rgb(238, 238, 238);
  padding: 50px;
}

.title {
  color: #000000;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table>tbody tr {
  border-bottom: 1px solid #dddddd;
  transition: all ease-in 0.111s;
}

table>tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  color: #000000;
}

table>tbody tr:last-of-type {
  border-bottom: 2px solid #5f00ad86;
}

table>tbody tr:hover {
  font-weight: bold;
  color: #252525;
  background-color: #dadada;
}


td,
th {
  padding: 12px 15px;
  margin: 0;
  border: 1px solid rgb(37, 37, 37);
  text-align: center;
}

th {
  font-weight: bold;
  background-color: rgb(37, 37, 37);
}

td {
  color: #252525;
}